spring:
  application:
    name: archflow
    admin-email: ${ADMIN_EMAIL}
    admin-password: ${ADMIN_PASSWORD}

  main:
    allow-bean-definition-overriding: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:6432/archflow}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "ru.archflow.common.model.dto.events"

minio:
  endpoint: ${MINIO_ENDPOINT}
  access-key: ${MINIO_USER}
  secret-key: ${MINIO_PASSWORD}
  bucket: archflow-files

app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
  app-address: ${APP_ADDRESS}
  secret: ${APP_JWT_SECRET}

logging:
  level:
    ru.archflow: DEBUG
    org.springframework.security: INFO