spring:
  application:
    name: archflow

  main:
    allow-bean-definition-overriding: true

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  mail:
    host: ${MAIL_HOST}
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: ${MAIL_PROTOCOL}
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true
          starttls:
            enable: false

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:6432/archflow}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

minio:
  endpoint: ${MINIO_ENDPOINT}
  access-key: ${MINIO_USER}
  secret-key: ${MINIO_PASSWORD}
  bucket: archflow-files

app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS}
  app-address: ${APP_ADDRESS}
  secret: ${APP_JWT_SECRET}

logging:
  level:
    ru.archflow: DEBUG
    org.springframework.security: INFO